* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #21572ccc;
    min-height: 100vh;
    background: radial-gradient(at 0% 0%, #0f3d0c 0%, transparent 50%),
                radial-gradient(at 100% 0%, #73ca90 0%, transparent 50%),
                radial-gradient(at 100% 100%, #2d4e23 0%, transparent 50%),
                radial-gradient(at 0% 100%, #2f6f3a 0%, transparent 50%),
                #79f29533;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 300px;
    align-items: center;
    padding: 20px 80px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

.main-logo {
    height: 70px;
}

.nav-container {
    display: flex;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(45, 56, 34, 0.981);
    border-radius: 50px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    list-style: none;
    width: 50rem;
}

.nav-container a,
.nav-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    height: 40px;
    text-decoration: none;
    color: #1b3320;
    font-weight: 400;
    font-size: 0.9rem;
    min-width: 0;
}

.nav-container a {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-container a:last-child,
.nav-link:last-child {
    border-right: none;
}

.nav-link.active, .nav-link:hover {
    background: #1b3320;
    color: white;
}


.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 0 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.icon-circle {
    width: 35px;
    height: 35px;
    background: #71a76c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

.back-button {
    margin-top: 20px;
}

.circle-btn {
    width: 35px;
    height: 35px;
    background: #71a76c;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
}

.icon-circle.phone span {
    filter: brightness(0) invert(1);
    font-size: 0.75rem;
    display: flex;
}

.icon-circle.phone {
    background-color: #71a76c; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-pill {
    background: #71a76c;
    color: #36693f;
    padding: 12px;
    border-radius: 40px;
    width: fit-content;
    font-weight: semi-bold;
    font-size: 0.9rem;
}

.glass-input, .glass-textarea {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #2d4f3a;
    border-radius: 25px;
    padding: 12px 20px;
    outline: none;
}

.textarea-wrapper {
    position: relative;
    display: flex;
}

.glass-textarea {
    width: 100%;
    height: 120px;
    border-radius: 35px;
    resize: none;
}

.send-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #7ad797;
    border: 2px solid #62ec97;
    color: #2d4f3a;
    width: 40px;
    height: 30px;
    border-radius: 15px;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    background: white;
    display: inline-block;
    width: 100%;
    height: 33px;
    padding-top: 10px;
    justify-content: center;
}